@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot?3ru28');
  src:  url('../../fonts/icomoon.eot?3ru28#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?3ru28') format('truetype'),
    url('../../fonts/icomoon.woff?3ru28') format('woff'),
    url('../../fonts/icomoon.svg?3ru28#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

$ff-serif: "DM Serif Display", serif;
$ff-sans: "Karla", sans-serif;