.u-uppercase { text-transform: uppercase; }
.u-text-center { text-align: center; }

.u-fs-700 { font-size: $fs-700; }
.u-fs-600 { font-size: $fs-600; }
.u-fs-500 { font-size: $fs-500; }
.u-fs-400 { font-size: $fs-400; }
.u-fs-300 { font-size: $fs-300; }

.u-fs-700 { line-height: 0.96; }
.u-fs-600 { line-height: 0,98; }

.u-ff-sans { font-family: $ff-sans;}
.u-ff-serif { font-family: $ff-serif; }

.u-fw-700 { font-weight: 700; }
.u-fw-400 { font-weight: 400; }